body {background-color:wheat; font-family: 'times new roman';
    font-size: 16px; padding:2 ;}
h1 {color:darkorchid; font-family: 'times new roman';
    font-size: 24px; padding:2 ;}
h2 {color:midnightblue; font-family: 'Lucida Sans';}
h3 {color:darkslategray; font-family: 'Verdana';}
p {color:maroon; font-family: 'sans-serif';}


